<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jeasoon.intent">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <meta-data
            android:name="android.max_aspect"
            android:value="2.5" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SingleInstanceActivity"
            android:label="SingleInstance"
            android:launchMode="singleInstance" />
        <activity
            android:name=".SingleTaskActivity"
            android:label="SingleTask"
            android:launchMode="singleTask" />
        <activity
            android:name=".SingleTopActivity"
            android:label="SingleTop"
            android:launchMode="singleTop" />
        <activity
            android:name=".StandardActivity"
            android:label="Standard"
            android:launchMode="standard" />
    </application>

</manifest>