<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jeasoon.intent">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".IntentApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <meta-data
            android:name="android.max_aspect"
            android:value="2.5" />

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.SingleInstanceActivity"
            android:label="SingleInstance"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.SingleInstanceActivity_AffinityA"
            android:label="SingleInstance"
            android:launchMode="singleInstance"
            android:taskAffinity=":A" />
        <activity
            android:name=".activity.SingleInstanceActivity_AffinityB"
            android:label="SingleInstance"
            android:launchMode="singleInstance"
            android:taskAffinity=":B" />
        <activity
            android:name=".activity.SingleInstanceActivity_AffinityC"
            android:label="SingleInstance"
            android:launchMode="singleInstance"
            android:taskAffinity=":C" />

        <activity
            android:name=".activity.SingleTaskActivity"
            android:label="SingleTask"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.SingleTaskActivity_AffinityA"
            android:label="SingleInstance"
            android:launchMode="singleInstance"
            android:taskAffinity=":A" />
        <activity
            android:name=".activity.SingleTaskActivity_AffinityB"
            android:label="SingleInstance"
            android:launchMode="singleInstance"
            android:taskAffinity=":B" />
        <activity
            android:name=".activity.SingleTaskActivity_AffinityC"
            android:label="SingleInstance"
            android:launchMode="singleInstance"
            android:taskAffinity=":C" />

        <activity
            android:name=".activity.SingleTopActivity"
            android:label="SingleTop"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.SingleTopActivity_AffinityA"
            android:label="SingleInstance"
            android:launchMode="singleInstance"
            android:taskAffinity=":A" />
        <activity
            android:name=".activity.SingleTopActivity_AffinityB"
            android:label="SingleInstance"
            android:launchMode="singleInstance"
            android:taskAffinity=":B" />
        <activity
            android:name=".activity.SingleTopActivity_AffinityC"
            android:label="SingleInstance"
            android:launchMode="singleInstance"
            android:taskAffinity=":C" />

        <activity
            android:name=".activity.StandardActivity_1"
            android:label="Standard"
            android:launchMode="standard" />

        <activity
            android:name=".activity.StandardActivity_2"
            android:label="Standard"
            android:launchMode="standard" />

        <activity
            android:name=".activity.StandardActivity_3"
            android:label="Standard"
            android:launchMode="standard" />
        <activity
            android:name=".activity.StandardActivity_AffinityA_1"
            android:label="SingleInstance"
            android:launchMode="singleInstance"
            android:taskAffinity=":A" />
        <activity
            android:name=".activity.StandardActivity_AffinityA_2"
            android:label="SingleInstance"
            android:launchMode="singleInstance"
            android:taskAffinity=":A" />
        <activity
            android:name=".activity.StandardActivity_AffinityA_3"
            android:label="SingleInstance"
            android:launchMode="singleInstance"
            android:taskAffinity=":A" />
        <activity
            android:name=".activity.StandardActivity_AffinityB_1"
            android:label="SingleInstance"
            android:launchMode="singleInstance"
            android:taskAffinity=":B" />
        <activity
            android:name=".activity.StandardActivity_AffinityB_2"
            android:label="SingleInstance"
            android:launchMode="singleInstance"
            android:taskAffinity=":B" />
        <activity
            android:name=".activity.StandardActivity_AffinityB_3"
            android:label="SingleInstance"
            android:launchMode="singleInstance"
            android:taskAffinity=":B" />
        <activity
            android:name=".activity.StandardActivity_AffinityC_1"
            android:label="SingleInstance"
            android:launchMode="singleInstance"
            android:taskAffinity=":C" />
        <activity
            android:name=".activity.StandardActivity_AffinityC_2"
            android:label="SingleInstance"
            android:launchMode="singleInstance"
            android:taskAffinity=":C" />
        <activity
            android:name=".activity.StandardActivity_AffinityC_3"
            android:label="SingleInstance"
            android:launchMode="singleInstance"
            android:taskAffinity=":C" />
    </application>

</manifest>