<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jeasoon.intent">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <meta-data
            android:name="android.max_aspect"
            android:value="2.5" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SingleInstanceActivity"
            android:label="SingleInstance"
            android:launchMode="singleInstance" />
        <activity
            android:name=".SingleInstanceActivity_AffinityA"
            android:label="SingleInstance"
            android:launchMode="singleInstance"
            android:taskAffinity=":A" />
        <activity
            android:name=".SingleInstanceActivity_AffinityB"
            android:label="SingleInstance"
            android:launchMode="singleInstance"
            android:taskAffinity=":B" />
        <activity
            android:name=".SingleInstanceActivity_AffinityC"
            android:label="SingleInstance"
            android:launchMode="singleInstance"
            android:taskAffinity=":C" />

        <activity
            android:name=".SingleTaskActivity"
            android:label="SingleTask"
            android:launchMode="singleTask" />
        <activity
            android:name=".SingleTaskActivity_AffinityA"
            android:label="SingleInstance"
            android:launchMode="singleInstance"
            android:taskAffinity=":A" />
        <activity
            android:name=".SingleTaskActivity_AffinityB"
            android:label="SingleInstance"
            android:launchMode="singleInstance"
            android:taskAffinity=":B" />
        <activity
            android:name=".SingleTaskActivity_AffinityC"
            android:label="SingleInstance"
            android:launchMode="singleInstance"
            android:taskAffinity=":C" />

        <activity
            android:name=".SingleTopActivity"
            android:label="SingleTop"
            android:launchMode="singleTop" />
        <activity
            android:name=".SingleTopActivity_AffinityA"
            android:label="SingleInstance"
            android:launchMode="singleInstance"
            android:taskAffinity=":A" />
        <activity
            android:name=".SingleTopActivity_AffinityB"
            android:label="SingleInstance"
            android:launchMode="singleInstance"
            android:taskAffinity=":B" />
        <activity
            android:name=".SingleTopActivity_AffinityC"
            android:label="SingleInstance"
            android:launchMode="singleInstance"
            android:taskAffinity=":C" />

        <activity
            android:name=".StandardActivity_1"
            android:label="Standard"
            android:launchMode="standard" />

        <activity
            android:name=".StandardActivity_2"
            android:label="Standard"
            android:launchMode="standard" />

        <activity
            android:name=".StandardActivity_3"
            android:label="Standard"
            android:launchMode="standard" />
        <activity
            android:name=".StandardActivity_AffinityA_1"
            android:label="SingleInstance"
            android:launchMode="singleInstance"
            android:taskAffinity=":A" />
        <activity
            android:name=".StandardActivity_AffinityA_2"
            android:label="SingleInstance"
            android:launchMode="singleInstance"
            android:taskAffinity=":A" />
        <activity
            android:name=".StandardActivity_AffinityA_3"
            android:label="SingleInstance"
            android:launchMode="singleInstance"
            android:taskAffinity=":A" />
        <activity
            android:name=".StandardActivity_AffinityB_1"
            android:label="SingleInstance"
            android:launchMode="singleInstance"
            android:taskAffinity=":B" />
        <activity
            android:name=".StandardActivity_AffinityB_2"
            android:label="SingleInstance"
            android:launchMode="singleInstance"
            android:taskAffinity=":B" />
        <activity
            android:name=".StandardActivity_AffinityB_3"
            android:label="SingleInstance"
            android:launchMode="singleInstance"
            android:taskAffinity=":B" />
        <activity
            android:name=".StandardActivity_AffinityC_1"
            android:label="SingleInstance"
            android:launchMode="singleInstance"
            android:taskAffinity=":C" />
        <activity
            android:name=".StandardActivity_AffinityC_2"
            android:label="SingleInstance"
            android:launchMode="singleInstance"
            android:taskAffinity=":C" />
        <activity
            android:name=".StandardActivity_AffinityC_3"
            android:label="SingleInstance"
            android:launchMode="singleInstance"
            android:taskAffinity=":C" />
    </application>

</manifest>